*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;  
}
:root {
   --color-primary: #FFA500;
   --color-secondary: #FFF;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
a {
    display: block;
    outline: 0;
    text-decoration: none;
}
p, .description {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #757575;
    margin-bottom: 15px;
    margin: 0 0 10px;
}
/*HEADER LOGO
---------------*/
header nav .logo {
    align-self: center;
    justify-self: center;
}
header nav .logo a {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2.2em;
    text-transform: uppercase;

}
/*NAVIGATION
--------------*/
header nav {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    background: rgba(255, 255, 255, 0.75);
}
header nav .menu {
    display: flex;
    list-style: none;
    justify-self: center;
}
header nav .menu > li > a {
    color: #303030;
    padding: 15px 1vw;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
    transition: all .4s;
}
header nav .menu > li:hover > a::after {
    font-family: 'FontAwesome';
    content: '\f106';
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: -20px;
    color: #303030;
    bottom: 5px;
    animation: bullet .5s infinite alternate;
}
@-webkit-keyframes bullet {
    from { bottom: -.1em;}
    to { font-size: 1em;}
}
@keyframes bullet {
    from { bottom: -.1em;}
    to { font-size: 1em;}
}
/*NAVIGATION / SUBMENU
----------------------*/
#sub-menu {
    min-width: 290px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    display: none;
}
#sub-menu li a:hover {
    background-color: rgba(0,0,0,.3);
}
.activated {
   background: rgba(0,0,0,0.2);
}
#btn-menu {
    display: none;
}
/*STICKY
------------*/
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
main .banner {
     position: relative;
    background-image: url(../media/img/bg-overlay.png);
    height: 50vw;
}
main .banner > img {
    width: 100%;
    max-height: 50vw;
    height: auto;
    position: absolute;
    z-index: -1;
}
main .banner a img {
    filter: drop-shadow(5px 5px 5px #FFF);
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 20vw;
    padding: 2vw;
}
section {
    margin: 4em 0;
}
section[class*="-container"] article {
    display: grid;
    max-width: 80%;
    margin: auto;
    justify-items: center;
    align-items: center;
}
section[class*="-container"] article img {
    max-width: 100%;
}
.first-container article p {
    border-left: 1px solid #ddd;
    padding-left: 6vw;
}
.second-container article p {
    border-right: 1px solid #ddd;
    padding-right: 6vw;
}
section h2 {
    color: #535353;
    font-size: 30px;
    margin-bottom: 13px;
    text-transform: capitalize;
}
.thirth-container .description {
    padding-left: 6vw;
}
footer {
    background: #3a3838;
    display: grid;
    padding: 2vw;
    align-items: center;
    justify-items: center;
}
footer .copyright {
    text-align: center;
    color: #FFF;
}
footer .copyright img {
     background-color: #FFF;
     padding: 10px;
}
footer .contact p:first-child {
     background-color: #ddd;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
}
footer .contact p {
    color: #FFF;
}
footer .acc {
    filter: drop-shadow(5px 5px 5px #FFF);
}
