@supports (display: grid) or (display: contents) {
    @media screen and (min-width: 768px) {
       header nav .logo {
          text-align: center;
       }
       main section[class*="-container"] article {
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: auto;
       }
       .second-container article img {
           justify-self: end;
       }
       footer {
           grid-template-columns: repeat(4, 1fr);
           grid-template-rows: auto;
       }
    }
    @media screen and (max-width: 767px) {
        header nav .logo a {
            font-size: 1.2em;
            text-align: center;
        }
        main .banner {
            margin-top: 80px;
        }
        .first-container article p {
            border-left: 0;
            padding-left: 0;
        }
        section[class*="-container"] article img {
            grid-row: 1;
            margin-bottom: 2em;
        }
        .second-container article p {
            border-right: 0;
            padding-right: 0;
        }
    }
}