@media only screen and (max-width: 900px) {
  header nav {
      height: 80px;
  }
  header nav .menu {
      box-orient: vertical;
      box-direction: normal;
      flex-direction: column;
      position: absolute;
      top: 100px;
      width: 100%;
      transition: background .5s, left .5s ease;
      text-align: center;
      left: -100%;
      z-index: 1;
  }
  header nav .menu > li:hover > a::after {
     display: none;  
  }
  .open-menu {
      left: 0 !important;
  }
  .logo a {
      position: absolute;
      left: 5px;
      top: 20%;
      width: 70%
  }
  #btn-menu {
      display: block;
      height: inherit;
      cursor: pointer; 
      background-color: #2c3e50;
  }
  #btn-menu span {
      color: #FFF;
      position: absolute;
      right: 0;
      padding: 30px 20px;
      font-size: 2em;
      line-height: 20px;
  }
  #sub-menu {
      position: relative;
      width: 100%;
      background-color: #282828;
  }
}
@media (min-width: 901px) {
    header nav {
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-rows: auto;
    }
    
}